
<div class="jumbotron">
  
  <div class="row text">

    <p style="font-weight: bold; color: red;">Note.. The columm names in the excel file should match the below order and should be same</p>
    <mat-card style='background-color:sandybrown'>
      <p style="font-weight: bold; font-style: italic; color: black; font-size: 20px;">LotNumber, RcNo, MemberNo, Section, Length, Qty, Weight, W/C, opr, WC1, BEMCO, HYD, HAB, Qc</p>

    </mat-card>
    
  </div>
  <br>
    
    <div>

        <input type="file" accept=".xls,.xlsx" id="file" class="hide_file" #ref (change)='onSubmit($event)' style="display: none">
       
         </div>
         <div class="row">
            <div  style="display: flex; flex-direction: row; justify-content: center;">
                <div class="example-container" style="width:50%; margin-right: 5%;">
    
                    <mat-form-field appearance='outline' color='accent'>
                        <mat-label><b>Filename</b></mat-label>
                        <input  matInput name="file" style="font-weight:bold; font-family: cursive; color: coral;" [(ngModel)]='fileName' placeholder="File" readonly>
                        <span  style="font-weight:bold; font-family: cursive; color: coral;"  matSuffix>{{filesize}}</span>
                      </mat-form-field>
                   
                 </div>
        
               
    
             </div>
            </div>
             <div class="row">
 
                <div class="row button-container" >
                    
                    <button mat-raised-button style="padding: 0;" color="primary" type="button" onclick="document.getElementById('file').click()" >Browse</button>
                </div>
             </div>
             <br>

             <div class="row">
                <div  style="display: flex; flex-direction: row; justify-content: center;">
                <div class="example-container" style="width:20%; margin-right: 5%;">
                <mat-form-field appearance='outline' color='accent'>
                    <mat-label>Sheet Name</mat-label>
                    <mat-select [(ngModel)]="sheetName" name="sheetName"  required [disabled]='select'>
                      <mat-option *ngFor="let sheet of sheetArray"  [value]="sheet.index" >
                        {{sheet.name}}
                      </mat-option>
                    </mat-select>
                   
                    <mat-error>Field is required</mat-error>
                  </mat-form-field>
                    </div>
                    
                <div>
                    
                  <button mat-raised-button style="padding: 0; margin-top: 10px;" color="accent" type="button" [disabled]='select' (click)='chooseSheet()' >Select</button>
              </div>
                    </div>
                </div>

                <div *ngIf="loading" class='progress-header'>
                  <mat-card class="progress-mat-header" >
                    <mat-card-content>
                     <b style="color: black; margin-bottom: 10px;">Please wait while the datas are loaded</b>
                     
                  
                      <section >
                        <mat-progress-bar
                        
                            color="accent"
                            mode="indeterminate"
                           >
                        </mat-progress-bar>
                      </section>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div *ngIf='loadedData'>

                  <div class="header" >
                    <mat-card class="mat-header" style="display: flex; flex-direction: column;">
                      <mat-card-header style="justify-content: center;">
                     
                      <mat-card-title><b>RESULTS</b></mat-card-title>
                    
                      </mat-card-header>
                     <mat-card-content style="display:flex; justify-content: center; align-items: center;">
                       <span style="font-size:16px; font-weight: bold; font-family:initial;">Data Loaded: {{another.length}}</span>
                     </mat-card-content>
                     <mat-card-actions>
                       <div style="display: flex; justify-content: center;">
                        <button mat-raised-button color="accent" type="button" [disabled]='exceed' (click)='saveData()' >Save</button>
                       </div>
                     
                     
                    </mat-card-actions>
                    </mat-card>
                    
                  </div>

                </div>
                <div *ngIf="loadingapi" class='progress-header'>
                  <mat-card class="progress-mat-header" >
                    <mat-card-content>
                     <b style="color: black; margin-bottom: 10px;">Please wait while the datas are saved</b>
                     
                  
                      <section >
                        <mat-progress-bar
                        
                            color="accent"
                            mode="indeterminate"
                           >
                        </mat-progress-bar>
                      </section>
                    </mat-card-content>
                  </mat-card>
                </div>


      
         
        
         
       
       
         <br>
         <div style="display: none;">
            <ngx-qrcode
            id="qrCodeImage" 
           
            [qrc-value] = "rcNumber"
            
           
           >
           </ngx-qrcode>
    
         </div>

       

</div>


    
