<div *ngIf="!loading">
<div style="margin-left: 5%; margin-top: 20px;">
    <mat-form-field style="width: 70%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        <mat-icon matSuffix >search</mat-icon>
      </mat-form-field>
</div>


<div class="mat-elevation-z8 example-container">
    
   
    <table mat-table [dataSource]="dataSource">

           <!-- index -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> S.No </th>
        <td mat-cell *matCellDef="let element;let i= index"> {{i+1}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="RcNumber">
        <th mat-header-cell *matHeaderCellDef> RcNumber </th>
        <td mat-cell *matCellDef="let element"> {{element.RcNumber}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="member">
        <th mat-header-cell *matHeaderCellDef> MemberNo </th>
        <td mat-cell *matCellDef="let element"> {{element.MemberNo}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="lot">
        <th mat-header-cell *matHeaderCellDef> LotNumber </th>
        <td mat-cell *matCellDef="let element"> {{element.LotNumber}} </td>
      </ng-container>

         

      <!-- Image Column-->
       <ng-container matColumnDef="imageLink">
        <th mat-header-cell *matHeaderCellDef> QR-Code </th>
        <td mat-cell *matCellDef="let element"> 
      <!-- //  <a mat-raised-button href="{{element.image}}" download="{{element.RcNumber}}">Download</a>     -->
        <button  mat-raised-button color='primary' (click)="download(element.image,element.RcNumber,element.MemberNo)" >Download</button>
        </td>
      </ng-container>

        <!-- Delete Column-->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element"> 
            <button  mat-raised-button color='warn' (click)="delete(element.RcNumber)" >Delete</button>    
            </td>
          </ng-container>

     
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
  </div>
</div>


<div *ngIf="loading" class='progress-header'>
    <mat-card class="progress-mat-header" >
      <mat-card-content>
       <b style="color: black;">Loading</b>
    
        <section >
          <mat-progress-bar
          
              color="accent"
              mode="indeterminate"
             >
          </mat-progress-bar>
        </section>
      </mat-card-content>
    </mat-card>
  </div>