
<div class="responsive">
    <mat-toolbar color='accent' >
       
        
      
       
        <button mat-raised-button style="margin-left:5%" color="primary" routerLink="/main/home"><mat-icon>aspect_ratio</mat-icon>  QR-Code</button>
        <button mat-raised-button style="margin-left:5%" color="primary" routerLink="/main/list"><mat-icon>list</mat-icon>  List</button>
        <button mat-raised-button style="margin-left:5%" color="primary" routerLink="/main/excel"><mat-icon>list</mat-icon>Excel</button>
       
        <span class="heading" style="margin-left:10%" >Live Tracking Material</span  >
        <span class="example-fill-remaining-space"></span>
        <button mat-raised-button style="margin-right:5%;" (click)="logout()" color="primary">  <mat-icon>warning</mat-icon>  Logout</button>
       
      </mat-toolbar>
</div>




